@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-08-17 22:01:47
 * @version $Id$
 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix{
	clear:both;
}
body{
	background-color: #928b8a;
}
#container{
	width: 980px;
	height: 1386px;
	margin:20px auto;
	background-color: #fff;
}
#content{
	margin:0 44px;
}
#header{
	height:63px;
	border-bottom: 2px solid #938e8c;
	width: 100%;
}
#banner{
	margin-top: 34px;
	height: 301px;
	width: 100%;
}
#what-when{
	margin-top:41px;
	height:170px;
	width:100%;
}
#tech{
	width: 100%;
	height: 606px;
	margin-top:70px;
	margin-bottom: 45px;
}
#footer{
	width:100%;
	border-top: 1px solid #938e8c;
	color: #d45d5c;
	font-size:12px;
	font-family: 黑体;
	height:50px;
}